

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

old_unused/

# Built Visual Studio Code Extensions
*.vsix

# Data files
#*.csv
#*.html
#*.pdf
#*.RData
#*.rdb
#*.rdx
*.DS_Store
*.numbers
